<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="WebPresenceEntities" connectionString="metadata=res://*/WebPresence.csdl|res://*/WebPresence.ssdl|res://*/WebPresence.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=50.23.221.50,1407;initial catalog=Webpresence;persist security info=True;user id=Webpresence;password=Webpresence;multipleactiveresultsets=True;App=EntityFramework&quot;"
  providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key ="Connection" value="Data Source=50.23.221.50,1407; Initial Catalog=Webpresence; User ID=Webpresence; Password=Webpresence; MultipleActiveResultSets=True; App=EntityFramework"/>
        <add key="Host" value="mail.smartdatainc.net"/>
    <add key="EmailAddress" value="test@smartdatainc.net"/>
    <add key="Password" value="testteam"/>
    
    <!-- Added by: Naveen Panwar -->
    <add key="TravelTime" value="30" />
    <add key="FileStoragePath" value="C:\Temp\FaborFlowFiles" />
    <add key="Telerik.Skin" value="Windows7" />
    <!--<add key="SiteURL" value="http://localhost:55003/"/>-->
    <add key="SiteURL" value="http://50.23.221.50/Webpresence/" />
    <add key="DownloadPath" value="D:\Projects\BooktUp\BooktUp.Web\images\" />
    <add key="DatabaseCSVPath" value="\..\Data\DatabaseCSV\" />
    <add key="AuthNetUrl" value="https://apitest.authorize.net/soap/v1/Service.asmx" />
    <add key="AuthNetLoginId" value="2jN5eN9s" />
    <add key="AuthNetTransactionKey" value="5K5aX5sS5493SrwT" />
    <add key="AuthNetTestMode" value="true" />
    <add key="CssJSVersion" value="1.1" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
