* {margin:0; padding:0}
/*body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF}*/
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px;  cursor:pointer}

#tt {position:absolute; display:block; background:url(../images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(../images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#f00; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(../images/tt_bottom.gif) top right no-repeat; overflow:hidden}
span.show-tooltip-text { display: none; position: absolute; font-size: 0.9em; background-image: url(../images/bg.gif); background-repeat: repeat-x; padding: 6px; padding-left: 12px; padding-right: 12px; color: white; }